<h1>Our Menu</h1>
<div class="menu-container">
 <% @dishes.each do |dish| %>
   <div class="menu-item">

     <div class="menu-item-name">
        <%=dish.name%>
     </div>
     <div class="menu-item-description">
        <%=dish.description%>
     </div>
     <div class="menu-item-price">
        <span class="menu-item-price-span">Price </span><%=dish.price%>
        <span id="KSH"> Ksh</span> <div id="underliner"></div>
     </div>
      <div class="add-to-button">
        <input type="hidden" class="form-dish-name" value="<%= dish.name%>">
        <input type="hidden" class="form-dish-id" value="<%= dish.id%>">
        <input type="hidden" class="form-dish-price" value="<%= dish.price%>">
        <button class='add-to-order-btn'>ADD TO ORDER</button>
      </div>
  </div>
  <% end %>
</div>

<div id="order-list-container">
  <div id="order-list-title">Your Order:</div>
    <div id="order-list">
      <ul id="order">
      </ul>
    </div>
    <div class="order-total"><span>KES </span></div>
    <div class="purchase-button">

      <!-- Trigger/Open The Modal -->
      <button id="myBtn">Confirm Order</button>
        <button id="cancel-order">Clear Order</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div id="modal-left">
            <div id="modal-order-total"></div>
            <div id="modal-order">
            </div>
            <div id="modal-order-total">
            </div>
          </div>
          <div id="modal-right">
            <!-- HOW TO MAKE THIS POST WORK... WHY SHOULD IT BE POST AND NOT GET??? -->
            <form id="confirmation-form" action="/confirmation" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" id="confirmation-buy" name="ordered_dishes" value="">
                <input type="text"  class = "modal-form-input" name="customer_name" placeholder="Name">
                <input type="text"  class = "modal-form-input" name="customer_phone" placeholder="Contact Number">
                <input type="email" class = "modal-form-input" name="customer_email" placeholder="Your Email">
                <input type="text"  class = "modal-form-input" name="delivery_address" placeholder="Delivery Address">
                <input type="text"  class = "modal-form-input" name="special_instructions" placeholder="Please enter any special delivery/dietry requirements">
                <div id="modal-payment-btn-ctnr">
                  <button>Proceed to Payment</button>
                  <span class="close">CANCEL</span>
                </div>
            </form>
          </div>
        </div>
      </div><!--//end of modal -->
    </div>
</div>
