<!DOCTYPE html>
<html>
<head>
  <title>Chilly Chaudry</title>
  <link rel="icon" href="assets/chilli.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="navContainer">
    <nav>
      <ul id="main-nav-list">
        <a href="/todo">TODO</a>
        <% if session[:current_user_id] %>
          <a href='/logout'><li>Log-Out</li></a>
          <a href="/admin"><li>Orders</li></a>
          <%=@work%>
        <% end %>

      <% if session[:current_user_id] %>
      <span id="logged-in-status">Logged In As Admin!</span>
      <% end %>
      <a href="/login"><img id="nav-img" src="assets/chilly-chaudry-blue.png" alt="main-image" /></a>
      </ul>
    </nav>
  </div>

  <div id="mainContainer">
    <%= yield %>
  </div>

</body>
</html>
